.list {
	margin: 3rem 15rem;
}

.list ul {
	list-style: none;
	padding: 1rem;
}

.list ul > li {
	margin: 1.5rem 2rem;
}

.list h3 {
	font-size: large;
	margin: 0 0 0.3rem 0;
}

.list ul > li > p {
	margin: 0;
}

.price {
	font-size: large;
	font-weight: bold;
	color: brown;
}
